/*Portfolio page coded by Jeffrey Grinberg*/

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Arvo', serif;
	-webkit-font-smoothing: antialiased;
}
/*Aways There*/
#container {
	height: 100%;
}
#right, #iama, #left {
	color: white;
}
#right-cont {
	margin-top: 25%;
	padding-right: 10%;
	right: 0;
	position: fixed;
	z-index: 10;
}
#right:hover, #left:hover {
	cursor: pointer;
	color: rgba(60, 90, 74,.6);
}
#left-cont {
	margin-top: 25%;
	padding-left: 10%;
	left: 0;
	position: fixed;
	z-index: 10;
}
/*Menu*/
#menu {
	width: 100%;
	z-index: 4;
	bottom: 0;
	position: fixed;
	margin-left: 10px;
	margin-top: 40%;
	text-align: center;
}
#menu-buttons {
	color: white;
	list-style: none;
	margin-top: 80px;
	margin-left: -66px;
	display: inline-block;
	text-align: center;
}
.active {
	background: rgba(39,60,82,.4);	
}
li {
	font-size: 16px;
	padding: 10px 20px 10px 20px;
	background: rgba(39,62,84,0.0001);
	display: inline-block;
}
#menu-am:hover, #menu-p:hover, #menu-c:hover{
	background: rgba(39, 60, 74,.2);
	cursor: pointer;
	animation-name: change-height;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes change-height {
	50% {height: 125%};
}
/*Intro Section*/
#intro-section, #about-me, #portfolio, #contact {
	background-image: url(../images/alternate-background.png);
	background-size:auto;
	background-color: black;
	height: 100%;
	overflow: hidden;
}
.haze {
	background: rgba(39,62,84,0.36);
	height: 100%;
	overflow: hidden;
}
#intro-content {
	text-align: center;	
}
#name {
	font-size: 65px;
	color: white;
	padding-top: 20%;
}
/*About Me Section*/
#about-title {
	text-align: center;	
	color: white;
	font-size: 65px;
}
#para-container {
	color: white;
	width: 50%;
	margin: 0 auto;
	margin-top: 120px;
	padding: 2px;
}
.test {
	color: white;
}
/*Portfolio Section*/

/*Contact Section*/
